#banner-home {
	display: flex;
	align-items: center;
	justify-content: center;

	img{
		display: flex;
		align-items: center;
		padding: 2rem;
		margin: 0 auto;
	}

	.menu{
		h2{
			color: #455a64;
			font-size: 1rem;
			margin-bottom: 1rem;
		}
		a{
			color: #455a64;
			font-size: 1rem;
			margin: 5px 0;
			margin-left: 20px;
			&:hover{
				text-decoration: none;
				color: var(--blue_h);
				transition: box-shadow .4s ease;
			}
		}
		ul{
			list-style-type: none;
			display: flex;
		}
		li{
			margin: 10px 0;
		}
		input{
			margin: 0 15px;
		}
	}
}

#destaquessale{


	.destaque{
		text-align: center;
		h2{
			color: #455a64;
			margin-top: 2rem;
		}

		a{
			color: #455a64;
		}
	}

	.flex-3{
		position: relative;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 0 16px rgba(0,0,0,.5);
		-moz-box-shadow: 0 0 16px rgba(0,0,0,.5);
		-webkit-box-shadow: 0 0 16px rgba(0,0,0,.5);

		.btn-slide-left{
			transform: translateX(-100%);
			margin-right: 20px;
		}

		.btn-slide-right{
			transform: translateX(100%);
			margin-left: 40px !important;
		}

		.image{
			position: absolute;
			top: 45%;
			left: 4%;
			display: flex;

			.icon-arrow-left, .icon-arrow-right, .icon-heart, .icon-balanca{
				background: #689f38;
				cursor: pointer;
				border-radius: 50%;
				margin: 0 10px;
				width: 40px;
				align-items: center;
				display: flex;
				justify-content: center;
				color: #fff;
				&:hover{
					background: var(--green_h);
					text-decoration: none;
					transition: box-shadow .4s ease;
				}
			}
		}
		&:hover{
			box-shadow: 0 0 36px rgba(0,0,0,.5);
			-moz-box-shadow: 0 0 36px rgba(0,0,0,.5);
			-webkit-box-shadow: 0 0 36px rgba(0,0,0,.5);
			transition: box-shadow .4s ease;
		}

	}
	.last{
		display: none;
	}


	.desc{
		h3{
			margin: 2rem;
			font-size: 1.2rem;
			text-align: center;
			color: #455a64;
		}

		p{
			margin: 15px 0;
			color: #455a64;
		}
	}
}

#anuncio{
	display: flex;
	justify-content: center;
	.icon-facebook, .icon-twitter{
		background: #689f38;
		cursor: pointer;
		border-radius: 5px;
		align-items: center;
		display: flex;
		justify-content: center;
		color: #fff;
		height: 35px;
		margin-right: 15px;
		&:hover{
			background: var(--green_h);
			text-decoration: none;
			transition: box-shadow .4s ease;
		}
	}
}

.site-footer{
	.flex{
		
		height: 5px;
		box-shadow: 1px 3px 8px #888888;

		.flex-4{
			display: flex;
			flex-direction: column;
			margin-top: 3rem;
		}
		.menu{
			h2{
				color: #455a64;
				font-size: 1rem;
				margin-bottom: 1rem;
			}
			a{
				color: #455a64;
				font-size: 1rem;
				margin: 5px 0;
				margin-left: 20px;
				font-weight: 400;
				&:hover{
					text-decoration: none;
					color: var(--blue_h);
					transition: box-shadow .4s ease;
				}
			}
			ul{
				list-style-type: none;
			}
			li{
				margin: 10px 0;
			}
		}
		.horarios{
			h3{
				color: #455a64;
				font-size: 1rem;
				margin-bottom: 1rem;
			}
			p{
				color: #455a64;
				font-size: 1rem;
				margin: 5px 0;
				margin-left: 20px;
			}
			span{
				font-weight: bold;
			}
		}
		.links{
			p{
				margin: 10px 0;
				&:before{
					background: var(--green);
					cursor: pointer;
					border-radius: 5px;
					color: #fff;
					height: 35px;
					margin-right: 15px;
					padding: 10px;
				}
			}
			a{
				color: var(--blue);
				font-size: 1rem;
				&:hover{
					text-decoration: none;
					color: var(--blue_h);
					transition: box-shadow .4s ease;
				}
			}
		}
		.logo{
			align-items: center;
			p{
				color: var(--green);
				margin-top: 2rem;
				&:before{
					background: var(--green);
					cursor: pointer;
					border-radius: 50%;
					color: #fff;
					height: 35px;
					margin-right: 15px;
					padding: 10px;
				}
			}
		}
	}
}

#destaqueimovel{

	.galeria-imovel{
		position: relative;
		top: 0;
		right: 0;

		button{
			position: absolute;
			top: 85%;
			right: 5%;
		}

		img{
			border-radius: 10px;
			box-shadow: 0 0 16px rgba(0,0,0,.5);
			-moz-box-shadow: 0 0 16px rgba(0,0,0,.5);
			-webkit-box-shadow: 0 0 16px rgba(0,0,0,.5);
		}
	}

	.embed-container{
		margin-top: 2rem;
		border-radius: 10px;
		box-shadow: 0 0 16px rgba(0,0,0,.5);
		-moz-box-shadow: 0 0 16px rgba(0,0,0,.5);
		-webkit-box-shadow: 0 0 16px rgba(0,0,0,.5);
	}

	.desc-imovel{
		h2{
			color: #455a64;
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		h3{
			color: #455a64;
			font-size: 1rem;
			margin-bottom: 1rem;
		}

		p{
			color: #455a64;
			font-size: 1rem;
			margin-bottom: 1rem;
		}

		a{
			color: var(--blue);
			&:before{
				margin: 0;
			}
		}

		.flex-2{
			margin: 10px;
			flex-basis: calc(50% - 70px);

			button{
				width: 100%;
				margin: 10px 0;
			}
		}
	}

	.detalhes-imovel{
		h3{
			color: #455a64;
			font-size: 1rem;
			margin-bottom: 1rem;
			margin-top: 3rem;
		}

		p{
			color: #455a64;
			font-size: 1rem;
			margin-bottom: 1rem;
		}
	}
}

@media(max-width: 52em){
	.flex-3{
		flex-basis: 100% !important;
		.image{
			top: 40% !important;
		}

	}
}

@media(max-width: 42em){
	.flex-3{
		flex-basis: 100% !important;
	}
}

