#banner-home {
  display: flex;
  align-items: center;
  justify-content: center; }
  #banner-home img {
    display: flex;
    align-items: center;
    padding: 2rem;
    margin: 0 auto; }
  #banner-home .menu h2 {
    color: #455a64;
    font-size: 1rem;
    margin-bottom: 1rem; }
  #banner-home .menu a {
    color: #455a64;
    font-size: 1rem;
    margin: 5px 0;
    margin-left: 20px; }
    #banner-home .menu a:hover {
      text-decoration: none;
      color: var(--blue_h);
      transition: box-shadow .4s ease; }
  #banner-home .menu ul {
    list-style-type: none;
    display: flex; }
  #banner-home .menu li {
    margin: 10px 0; }
  #banner-home .menu input {
    margin: 0 15px; }

#destaquessale .destaque {
  text-align: center; }
  #destaquessale .destaque h2 {
    color: #455a64;
    margin-top: 2rem; }
  #destaquessale .destaque a {
    color: #455a64; }
#destaquessale .flex-3 {
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5); }
  #destaquessale .flex-3 .image {
    position: absolute;
    top: 45%;
    left: 15%;
    display: flex; }
    #destaquessale .flex-3 .image .icon-arrow-left, #destaquessale .flex-3 .image .icon-arrow-right, #destaquessale .flex-3 .image .icon-heart, #destaquessale .flex-3 .image .icon-balanca {
      background: #689f38;
      cursor: pointer;
      border-radius: 50%;
      margin: 0 10px;
      width: 40px;
      align-items: center;
      display: flex;
      justify-content: center;
      color: #fff; }
      #destaquessale .flex-3 .image .icon-arrow-left:hover, #destaquessale .flex-3 .image .icon-arrow-right:hover, #destaquessale .flex-3 .image .icon-heart:hover, #destaquessale .flex-3 .image .icon-balanca:hover {
        background: var(--green_h);
        text-decoration: none;
        transition: box-shadow .4s ease; }
  #destaquessale .flex-3:hover {
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 36px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 36px rgba(0, 0, 0, 0.5);
    transition: box-shadow .4s ease; }
#destaquessale .desc h3 {
  margin: 2rem;
  font-size: 1.2rem;
  text-align: center;
  color: #455a64; }
#destaquessale .desc p {
  margin: 15px 0;
  color: #455a64; }

#anuncio {
  display: flex;
  justify-content: center; }
  #anuncio .icon-facebook, #anuncio .icon-twitter {
    background: #689f38;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    height: 35px;
    margin-right: 15px; }
    #anuncio .icon-facebook:hover, #anuncio .icon-twitter:hover {
      background: var(--green_h);
      text-decoration: none;
      transition: box-shadow .4s ease; }

.site-footer .flex {
  height: 5px;
  box-shadow: 1px 3px 8px #888888; }
  .site-footer .flex .flex-4 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem; }
  .site-footer .flex .menu h2 {
    color: #455a64;
    font-size: 1rem;
    margin-bottom: 1rem; }
  .site-footer .flex .menu a {
    color: #455a64;
    font-size: 1rem;
    margin: 5px 0;
    margin-left: 20px;
    font-weight: 400; }
    .site-footer .flex .menu a:hover {
      text-decoration: none;
      color: var(--blue_h);
      transition: box-shadow .4s ease; }
  .site-footer .flex .menu ul {
    list-style-type: none; }
  .site-footer .flex .menu li {
    margin: 10px 0; }
  .site-footer .flex .horarios h3 {
    color: #455a64;
    font-size: 1rem;
    margin-bottom: 1rem; }
  .site-footer .flex .horarios p {
    color: #455a64;
    font-size: 1rem;
    margin: 5px 0;
    margin-left: 20px; }
  .site-footer .flex .horarios span {
    font-weight: bold; }
  .site-footer .flex .links p {
    margin: 10px 0; }
    .site-footer .flex .links p:before {
      background: var(--green);
      cursor: pointer;
      border-radius: 5px;
      color: #fff;
      height: 35px;
      margin-right: 15px;
      padding: 10px; }
  .site-footer .flex .links a {
    color: var(--blue);
    font-size: 1rem; }
    .site-footer .flex .links a:hover {
      text-decoration: none;
      color: var(--blue_h);
      transition: box-shadow .4s ease; }
  .site-footer .flex .logo {
    align-items: center; }
    .site-footer .flex .logo p {
      color: var(--green);
      margin-top: 2rem; }
      .site-footer .flex .logo p:before {
        background: var(--green);
        cursor: pointer;
        border-radius: 50%;
        color: #fff;
        height: 35px;
        margin-right: 15px;
        padding: 10px; }

#destaqueimovel .galeria-imovel {
  position: relative;
  top: 0;
  right: 0; }
  #destaqueimovel .galeria-imovel button {
    position: absolute;
    top: 80%;
    right: 10%; }
  #destaqueimovel .galeria-imovel img {
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5); }
#destaqueimovel .embed-container {
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5); }
#destaqueimovel .desc-imovel h2 {
  color: #455a64;
  font-size: 2rem;
  margin-bottom: 1rem; }
#destaqueimovel .desc-imovel h3 {
  color: #455a64;
  font-size: 1rem;
  margin-bottom: 1rem; }
#destaqueimovel .desc-imovel p {
  color: #455a64;
  font-size: 1rem;
  margin-bottom: 1rem; }
#destaqueimovel .desc-imovel a {
  color: var(--blue); }
  #destaqueimovel .desc-imovel a:before {
    margin: 0; }
#destaqueimovel .desc-imovel .flex-2 {
  margin: 10px; }
#destaqueimovel .detalhes-imovel h3 {
  color: #455a64;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 3rem; }
#destaqueimovel .detalhes-imovel p {
  color: #455a64;
  font-size: 1rem;
  margin-bottom: 1rem; }

@media (max-width: 52em) {
  .flex-3 {
    flex-basis: 100% !important; }
    .flex-3 .image {
      top: 40% !important; } }
@media (max-width: 42em) {
  .flex-3 {
    flex-basis: 100% !important; } }

/*# sourceMappingURL=style.css.map */
